<link rel="stylesheet" href="../../../../static/css/reset-css.css">
<link rel="stylesheet" href="../../../../static/css/project/write/components/project-stack-list.css">
<link rel="stylesheet" href="../../../../static/css/project/write/components/project-write-ckeidtor.css">
<link rel="stylesheet" href="../../../../static/css/project/write/layouts/project-write-layout.css">

<script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/translations/ko.js"></script>

<article class="project-write-layout-container">
  <article class="">
    <!--  -->

    <div class="project-stack-container">
      <ul class="project-stack-list">
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/angular.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/angular.svg" alt="angularlogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/apache-kafka.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/apache-kafka.svg" alt="apache-kafkalogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/apache-spark.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/apache-spark.svg" alt="apache-sparklogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/aws.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/aws.svg" alt="awslogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/c++.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/c++.svg" alt="c++logo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/c-programming.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/c-programming.svg" alt="c-programminglogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/c-sharp.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/c-sharp.svg" alt="c-sharplogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/discord.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/discord.svg" alt="discordlogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/docker.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/docker.svg" alt="dockerlogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/figma.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/figma.svg" alt="figmalogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/firebase.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/firebase.svg" alt="firebaselogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/flutter.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/flutter.svg" alt="flutterlogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/git.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/git.svg" alt="gitlogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/github.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/github.svg" alt="githublogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/gitlab.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/gitlab.svg" alt="gitlablogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/golang.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/golang.svg" alt="golanglogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/grafana.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/grafana.svg" alt="grafanalogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/graphql.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/graphql.svg" alt="graphqllogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/java.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/java.svg" alt="javalogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/javascript.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/javascript.svg" alt="javascriptlogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/jenkins.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/jenkins.svg" alt="jenkinslogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/kotlin.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/kotlin.svg" alt="kotlinlogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/kubernetes.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/kubernetes.svg" alt="kuberneteslogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/mariadb.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/mariadb.svg" alt="mariadblogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/mongodb.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/mongodb.svg" alt="mongodblogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/mysql.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/mysql.svg" alt="mysqllogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/nestjs.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/nestjs.svg" alt="nestjslogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/nextjs.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/nextjs.svg" alt="nextjslogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/nodejs.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/nodejs.svg" alt="nodejslogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/notion.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/notion.svg" alt="notionlogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/php.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/php.svg" alt="phplogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/postgresql.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/postgresql.svg" alt="postgresqllogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/prometheus.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/prometheus.svg" alt="prometheuslogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/python.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/python.svg" alt="pythonlogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/react.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/react.svg" alt="reactlogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/redis.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/redis.svg" alt="redislogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/spring-boot.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/spring-boot.svg" alt="spring-bootlogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/svelte.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/svelte.svg" alt="sveltelogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/swift.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/swift.svg" alt="swiftlogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/typescript.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/typescript.svg" alt="typescriptlogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/unity.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/unity.svg" alt="unitylogo">
        </li>
        <li class="project-stack">
          <img class="project-stack-logo" th:src="@{/images/logo/vue-js.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/vue-js.svg" alt="vue-jslogo">
        </li>
      </ul>
    </div>

    <!--  -->

    <form class="hi" action="/save" method="POST">
      <input class="title" name="title" type="text" placeholder="제목"/><br>
    
      <!--  -->
    
    
      <!--  -->
    
      <textarea name="content" id="project-write"></textarea><br>
      <input type="submit" value="등록">
    </form>
  </article>
</box>
<script>
  ClassicEditor.create(document.querySelector( '#project-write' ), {language: "ko"});
</script>