<script src="https://kit.fontawesome.com/9a0d11d8cb.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="../../static/css/reset-css-v2.css" th:href="@{/css/reset-css.css}">
<link rel="stylesheet" href="../../static/css/fragments/header.css" th:href="@{/css/fragments/header.css}">

<header class="grid-header header-container">
  <h1 class="header-title title-grid reset-h1">CoPi</h1>
  <nav class="header-nav nav-grid nav-container">
    <ul class="ul-container">
      <li class="header-project reset-li">
        <h2 class="nav-title reset-h2">프로젝트</h2>
        <p class="nav-down reset-p"><i class="fa-solid fa-chevron-down"></i></p>
      </li>

      <li class="header-project reset-li">
        <h2 class="nav-title reset-h2">스터디</h2>
        <p class="nav-down reset-p"><i class="fa-solid fa-chevron-down"></i></p>
      </li>
    </ul>
  </nav>

  <aside class="header-aside">
    <a href="#" class="login-button reset-a">로그인</a>
  </aside>
</header>