<link rel="stylesheet" href="../../../static/css/reset-css.css" th:href="@{/css/reset-css.css}">
<link rel="stylesheet" href="../../../static/css/project/components/project-preview-footer.css" th:href="@{/css/project/components/project-preview-footer.css}">

<footer class="project-preview-footer">
  <nav class="project-preview-pagination" aria-label="Page navigation">
    <ul class="project-preview-page-list">
      <li class="project-preview-previous" aria-label="Previous page">&lt; Previous</li>
      <li>
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#" aria-hidden="true">...</a>
      </li>
      <li>
        <a href="#">11</a>
      </li>
      <li class="project-preview-next" aria-label="Next page">Next &gt;</li>
    </ul>
  </nav>
</footer>