<link rel="stylesheet" href="../../../../static/css/reset-css.css" th:href="@{/css/reset-css.css}">
<link rel="stylesheet" href="../../../../static/css/project/preview/components/project-preview-item.css" th:href="@{/css/project/components/project-preview-header.css}">

<script src="https://kit.fontawesome.com/9a0d11d8cb.js" crossorigin="anonymous"></script>

<article class="project-preview-item">
  <section class="project-preview-item-summary">
    <header class="project-preview-item-category">PROJECT</header>
    <h2 class="project-preview-item-title">[UI/UX 디자이너 모집] ❤️커뮤니티 웹 사이트 프로젝트 디자이너 1명 협업 이야기 헬로월드❤️</h2>    
    <section class="project-preview-item-stack">
      <ul class="project-preview-item-languages">
        <li class="project-preview-item-language-item">
          <img class="project-preview-item-language" th:src="@{/images/logo/angular.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/angular.svg" alt="angular logo">
        </li>
        <li class="project-preview-item-language-item">
          <img class="project-preview-item-language" th:src="@{/images/logo/angular.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/apache-kafka.svg" alt="kafka logo">
        </li>
        <li class="project-preview-item-language-item">
          <img class="project-preview-item-language" th:src="@{/images/logo/angular.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/java.svg" alt="java logo">
        </li>
        <li class="project-preview-item-language-item">
          <img class="project-preview-item-language" th:src="@{/images/logo/angular.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/spring-boot.svg" alt="spring-boot logo">
        </li>
        <li class="project-preview-item-language-item">
          <img class="project-preview-item-language" th:src="@{/images/logo/angular.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/postgresql.svg" alt="postgresql logo">
        </li>
      </ul>
    </section>
  </section>

  <section class="project-preview-item-stat">
    <p class="project-preview-item-favorites"><i class="fa-regular fa-star"></i></p>

    <footer class="project-preview-item-footer">
      <p class="project-preview-item-writer-image"></p>
      <p class="project-preview-item-created-at">2024. 09. 09.</p>
      <ul class="project-preview-item-count">
        <li class="project-preview-item-like-count">123</li>
        <li class="project-preview-item-favorites-count">456</li>
      </ul>
    </footer>
  </section>
</article>