<link rel="stylesheet" href="../../../static/css/reset-css.css" th:href="@{/css/reset-css.css}">
<link rel="stylesheet" href="../../../static/css/project/components/project-preview-header.css" th:href="@{/css/project/components/project-preview-header.css}">

<header class="project-preview-header">
  
  <section class="project-preivew-header-box">
    <p class="project-preivew-count">920</p>
    <h2 class="project-preivew-title">PROJECT</h2>
  </section>

  <section class="project-preivew-order">
    <ul class="project-preivew-order-list">
      <li class="project-preivew-order-item project-preivew-proceed">진행방식</li>
      <li class="project-preivew-order-item project-preivew-position">포지션</li>
      <li class="project-preivew-order-item project-preivew-stack">기술스택</li>
    </ul>

    <form class="project-preivew-search">
      <input class="project-preivew-search-input" placeholder="검색어를 입력해주세요.">
      <button class="project-preivew-search-button">검색</button>
    </form>
  </section>
</header>