<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CoPi</title>

  <link rel="stylesheet" th:href="@{/css/reset-css.css}">
  <link rel="stylesheet" th:href="@{/css/fragments/header.css}">  
  <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">

  <link rel="stylesheet" th:href="@{/css/project/preview/components/project-preview-header.css}">

  <link rel="stylesheet" th:href="@{/css/project/preview/layouts/project-preview-list.css}">
  <link rel="stylesheet" th:href="@{/css/project/preview/components/project-preview-item.css}">

  <link rel="stylesheet" th:href="@{/css/project/preview/components/project-preview-footer.css}">

  <script src="https://kit.fontawesome.com/9a0d11d8cb.js" crossorigin="anonymous"></script>

  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  </style>

</head>
<body>
  <header th:replace="~{fragments/header :: header}"></header>
  
  <main>
    <header th:replace="~{project/preview/components/project-preview-header :: header}"></header>
    <section th:replace="~{project/preview/layouts/project-preview-list :: section}"></section>
    <footer th:replace="~{project/preview/components/project-preview-footer :: footer}"></footer>
  </main>
  
  <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>