<link rel="stylesheet" href="../../../../static/css/reset-css.css">
<link rel="stylesheet" href="../../../../static/css/project/write/components/project-write-side-bar.css">

<aside class="project-write-side-bar-container">
  <ul class="project-write-side-bar-select-list">
    <li class="project-write-side-bar-select-item project-write-side-bar-select-item-1">
    </li>
    <li class="project-write-side-bar-select-item project-write-side-bar-select-item-2">
    </li>
    <li class="project-write-side-bar-select-item project-write-side-bar-select-item-3">
    </li>
  </ul>
</aside>