<link rel="stylesheet" href="../../../../static/css/reset-css-v2.css">
<link rel="stylesheet" href="../../../../static/css/project/write/components/project-stack-list.css">

<div class="project-stack-container">
  <h2 class="project-stack-list-title">기술 스택을 선택해 주세요.</h2>
  <ul class="project-stack-list">
    <li class="project-stack">
        <h3 class="project-stack-title">ANGULAR</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/angular.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/angular.svg" alt="angularlogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">APACHE-KAFKA</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/apache-kafka.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/apache-kafka.svg" alt="apache-kafkalogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">APACHE-SPARK</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/apache-spark.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/apache-spark.svg" alt="apache-sparklogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">AWS</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/aws.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/aws.svg" alt="awslogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">C++</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/c++.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/c++.svg" alt="c++logo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">C-PROGRAMMING</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/c-programming.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/c-programming.svg" alt="c-programminglogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">C-SHARP</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/c-sharp.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/c-sharp.svg" alt="c-sharplogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">DISCORD</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/discord.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/discord.svg" alt="discordlogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">DOCKER</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/docker.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/docker.svg" alt="dockerlogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">FIGMA</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/figma.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/figma.svg" alt="figmalogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">FIREBASE</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/firebase.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/firebase.svg" alt="firebaselogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">FLUTTER</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/flutter.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/flutter.svg" alt="flutterlogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">GIT</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/git.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/git.svg" alt="gitlogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">GITHUB</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/github.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/github.svg" alt="githublogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">GITLAB</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/gitlab.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/gitlab.svg" alt="gitlablogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">GOLANG</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/golang.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/golang.svg" alt="golanglogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">GRAFANA</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/grafana.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/grafana.svg" alt="grafanalogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">GRAPHQL</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/graphql.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/graphql.svg" alt="graphqllogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">JAVA</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/java.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/java.svg" alt="javalogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">JAVASCRIPT</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/javascript.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/javascript.svg" alt="javascriptlogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">JENKINS</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/jenkins.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/jenkins.svg" alt="jenkinslogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">KOTLIN</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/kotlin.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/kotlin.svg" alt="kotlinlogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">KUBERNETES</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/kubernetes.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/kubernetes.svg" alt="kuberneteslogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">MARIADB</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/mariadb.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/mariadb.svg" alt="mariadblogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">MONGODB</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/mongodb.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/mongodb.svg" alt="mongodblogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">MYSQL</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/mysql.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/mysql.svg" alt="mysqllogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">NESTJS</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/nestjs.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/nestjs.svg" alt="nestjslogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">NEXTJS</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/nextjs.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/nextjs.svg" alt="nextjslogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">NODEJS</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/nodejs.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/nodejs.svg" alt="nodejslogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">NOTION</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/notion.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/notion.svg" alt="notionlogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">PHP</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/php.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/php.svg" alt="phplogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">POSTGRESQL</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/postgresql.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/postgresql.svg" alt="postgresqllogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">PROMETHEUS</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/prometheus.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/prometheus.svg" alt="prometheuslogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">PYTHON</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/python.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/python.svg" alt="pythonlogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">REACT</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/react.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/react.svg" alt="reactlogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">REDIS</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/redis.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/redis.svg" alt="redislogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">SPRING-BOOT</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/spring-boot.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/spring-boot.svg" alt="spring-bootlogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">SVELTE</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/svelte.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/svelte.svg" alt="sveltelogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">SWIFT</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/swift.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/swift.svg" alt="swiftlogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">TYPESCRIPT</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/typescript.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/typescript.svg" alt="typescriptlogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">UNITY</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/unity.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/unity.svg" alt="unitylogo">
    </li>
    <li class="project-stack">
        <h3 class="project-stack-title">VUE-JS</h3>
        <img class="project-stack-logo" th:src="@{/images/logo/vue-js.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/vue-js.svg" alt="vue-jslogo">
    </li>
  </ul>
</div>