<link rel="stylesheet" href="../../../static/css/reset-css.css">
<link rel="stylesheet" href="../../../static/css/project/layouts/project-circle.css" th:href="@{/css/prject/layouts/project-cirlce.css}">
<link rel="stylesheet" href="../../../static/css/project/layouts/project-circle-item.css" th:href="@{/css/prject/layouts/project-cirlce-item.css}">
<meta charset="UTF-8">

<section class="project-circle">
  <ul class="project-circle-component-list">
    <li class="project-circle-component-child">
      <iframe class="project-circle-component-text-rotate" src="../components/project-circle-item.html"></iframe>
    </li>

    <li class="project-circle-component-child">
      <iframe class="project-circle-component-text-rotate" src="../components/project-circle-item-vacancy.html"></iframe>
    </li>

    <li class="project-circle-component-child">
      <iframe class="project-circle-component-text-rotate" src="../components/project-circle-item-vacancy.html"></iframe>
    </li>

    <li class="project-circle-component-child">
      <iframe class="project-circle-component-text-rotate" src="../components/project-circle-item.html"></iframe>
    </li>
  </ul>
  <section class="project-circle-information">
    <div class="project-circle-category">project</div>
    <h2 class="project-circle-title">[UI/UX 디자이너 모집] ❤️커뮤니티 웹 사이트 프로젝트 디자이너 1명❤️</h2>
    <div class="project-circle-count">모집인원</div>
    <div class="project-circle-ii">모집분야</div>
    <div class="project-circle-go">진행방식</div>
    <div class="project-circle-start">시작예정</div>
  </section>
</section>