.project-write-ckeditor-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px auto;
}

.project-write-ckeditor-box {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.project-write-input-title {
  color: #ccced1;

  width: 100%;
}

.ck.ck-editor {
  min-width: 100%;
}

.ck-editor__editable {
  height: 700px;
}

.project-write-ckeditor-title {
  width: 100%;
  height: 50px;
  font-size: 1.15rem;

  border: 1px solid #ccced1;
  box-sizing: border-box;
}

.project-write-input-content {
  color: #ccced1;
  
  width: 100%;
}

.ck-content {
  padding: 5px;
}

.proejct-write-button {
  border: 1px solid #000;

  margin: 10px 0px 10px 0px;
  width: 50px;
  height: 30px;

  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  
}

.proejct-write-button:hover {
  cursor: pointer;
  scale: 1.1;
}


/* ---------------------- */

.project-stack-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 30px auto;
}

.project-stack-list {
  border: 1px solid #ccced1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  padding: 25px;
}

.project-write-ckeidtor-content {
  border: 1px solid #000;
  width: 100%;
}