<link rel="stylesheet" href="../../../../static/css/reset-css.css" th:href="@{/css/reset-css.css}">
<link rel="stylesheet" href="../../../../static/css/project/details/layouts/project-circle.css">
  
<link rel="stylesheet" href="../../../../static/css/project/details/components/project-circle-item.css">
<link rel="stylesheet" href="../../../../static/css/project/details/components/project-circle-item-vacancy.css">

<main class="project-circle">
  <ul class="project-circle-component-list">
    <li class="project-circle-component-child">
      <section class="project-circle-component-text-rotate">
        <iframe th:replace="~{project/details/components/project-circle-item :: section}" src="../components/project-circle-item.html"></iframe>
      </section>
    </li>

    <li class="project-circle-component-child">
      <section class="project-circle-component-text-rotate">
        <iframe th:replace="~{project/details/components/project-circle-item-vacancy :: section}" src="../components/project-circle-item-vacancy.html"></iframe>
      </section>
    </li>

    <li class="project-circle-component-child">
      <section class="project-circle-component-text-rotate">
        <iframe th:replace="~{project/details/components/project-circle-item-vacancy :: section}" src="../components/project-circle-item-vacancy.html"></iframe>
      </section>
    </li>

    <li class="project-circle-component-child">
      <section class="project-circle-component-text-rotate">
        <iframe th:replace="~{project/details/components/project-circle-item-vacancy :: section}" src="../components/project-circle-item-vacancy.html"></iframe>
      </section>
    </li>
  </ul>
  
  <section class="project-circle-information">
    <header class="project-circle-hedaer">
      <p class="project-circle-category">PROJECT</p>
      <h2 class="project-circle-title">[UI/UX 디자이너 모집] ❤️커뮤니티 웹 사이트 프로젝트 디자이너 1명 협업 이야기 헬로월드❤️</h2>
    </header>
    
    <main class="project-circle-main">
      <ul class="project-circle-main-ul">
        <li class="project-circle-main-stack">
          <img class="project-circle-main-position" th:src="@{/images/logo/angular.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/angular.svg" alt="angular logo">
        </li>
        <li class="project-circle-main-stack">
          <img class="project-circle-main-position" th:src="@{/images/logo/spring-boot.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/spring-boot.svg" alt="spring-boot logo">
        </li>
        <li class="project-circle-main-stack">
          <img class="project-circle-main-position" th:src="@{/images/logo/postgresql.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/postgresql.svg" alt="postgresql logo">
        </li>
        <li class="project-circle-main-stack">
          <img class="project-circle-main-position" th:src="@{/images/logo/react.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/react.svg" alt="react logo">
        </li>
        <li class="project-circle-main-stack">
          <img class="project-circle-main-position" th:src="@{/images/logo/git.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/git.svg" alt="git logo">
        </li>
        <li class="project-circle-main-stack">
          <img class="project-circle-main-position" th:src="@{/images/logo/apache-kafka.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/apache-kafka.svg" alt="kafka logo">
        </li>
        <li class="project-circle-main-stack">
          <img class="project-circle-main-position" th:src="@{/images/logo/redis.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/redis.svg" alt="redis logo">
        </li>
     </ul>
    </main>

    <footer class="project-circle-footer">
      <button class="project-circle-join">참여하기</button>
    </footer>
  </section>
</main>