<link rel="stylesheet" href="../../../static/css/reset-css.css">
<link rel="stylesheet" href="../../../static/css/project/components/project-circle-item-vacancy.css" th:href="@{/css/prject/components/project-circle-item-vacancy.css}">

<section class="project-circle-item-vacancy">
  <img class="project-circle-item-vacancy-userprofile">
  <section class="project-circle-item-vacancy-user-information">  
    <img class="project-circle-item-vacancy-position" th:src="@{/images/logo/docker.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/docker.svg" alt="docker logo">
    <span class="project-circle-item-vacancy-username"></span>
  </section>
</section>