<link rel="stylesheet" href="../../../static/css/reset-css.css">
<link rel="stylesheet" href="../../../../static/css/project/details/components/project-circle-item.css" th:href="@{/css/project/components/project-circle-item.css}">

<section class="project-circle-item">
  <section>
    <img class="project-circle-item-userprofile">
    <section class="project-circle-item-user-information">  
      <img class="project-circle-item-position" th:src="@{/images/logo/angular.svg}" src="/copi-server-presentation/src/main/resources/static/images/logo/angular.svg" alt="angular logo">
      <span class="project-circle-item-username">lkdcode</span>
    </section>
  </section>
</section>